@using DiffPlex.DiffBuilder.Model;
@using static DataAccessLibrary.Enums.MediaEnums
@using static ThinBlueLie.Helper.Algorithms.LinkConverter
@using static ThinBlueLie.Helper.Extensions.EnumExtensions
@using static ThinBlueLie.Helper.Extensions.StringExtensions

<Link Rel="stylesheet" Href="/css/VideoPlayer.css" />
<style>
    .reddit-video-wrapper videowrapper{
        height: 275px !important;
    }
</style>
<div class="row my-2">
    @if (IsNewEvent == false)
    {
        <div class="col-6 @(Media.Item1 == null && Media.Item2 != null? "imaginary-item" : "")
                            @(Media.Item1 != null && Media.Item2 == null? "deleted-item" : "")">
            @if (Media.Item1 != null)
            {
                <div class="row">
                    <div class="col-5 information">
                        @if (Model != null)
                        {
                            <CompareLine Model="Model.OldText.Lines.FirstOrDefault()"></CompareLine>
                        }
                        else
                        {
                            @Media.Item1.Blurb
                        }
                        <div class="pl-4">
                            <span><b>Credit:</b> @((MarkupString)SimpleCompare(Media.Item1.Credit, Media.Item2?.Credit, true))</span>
                            <span>
                                <b>Source:</b>
                                @if (Media.Item1.SourceFrom != SourceFromEnum.Device)
                                {
                                    <a href="@Media.Item1.ContentUrl"> External Link</a>
                                }
                                else
                                {
                                    <a href="@Media.Item1.ContentUrl"> Internal Link</a>
                                }
                            </span>
                            <span><b>Source Type:</b> @((MarkupString)SimpleCompare(GetEnumDisplayName((SourceFromEnum)Media.Item1.SourceFrom), Media.Item2 != null ? GetEnumDisplayName((SourceFromEnum)Media.Item2?.SourceFrom) : null, true))</span>
                            <span><b>Gore:</b> @((MarkupString)SimpleCompare(Media.Item1.Gore == 1 ? "Yes" : "No", Media.Item2?.Gore == 1 ? "Yes" : "No", true))</span>
                            <span><b>Rank:</b> @((MarkupString)SimpleCompare((Media.Item1.Rank + 1).ToString(), (Media.Item2?.Rank + 1).ToString(), true))</span>
                        </div>
                    </div>
                    <div class="col-7">
                        @* If the link between the two is different, one side is null *@
                        @if (Media.Item1.MediaType == MediaEnums.MediaTypeEnum.Video)
                        {
                            if (Media.Item1.SourceFrom == MediaEnums.SourceFromEnum.Youtube)
                            {
                                <div style="max-height:250px;">
                                    <iframe src="@youtube1Url" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            }
                            else if (Media.Item1.SourceFrom == MediaEnums.SourceFromEnum.Reddit)
                            {
                                <div class="reddit-video-wrapper">
                                    <video src="@Media.Item1.ContentUrl" width="320" height="240" class="reddit-sync" controls>
                                    </video>
                                </div>
                            }
                        }
                        else if ((Media.Item1.MediaType == MediaEnums.MediaTypeEnum.Image))
                        {
                            <div style="background-image: url(@Media.Item1.ContentUrl); max-height:250px;">
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    <div class="@(IsNewEvent? "col-12" : "col-6") @((Media.Item2 == null && Media.Item1 != null && !IsNewEvent)? "imaginary-item" : "")
                        @((Media.Item1 == null && Media.Item2 != null && !IsNewEvent)? "inserted-item" : "")">
        @if (Media.Item2 != null)
        {
            <div class="row">
                <div class="col-5 information">
                    @if (Model != null)
                    {
                        <CompareLine Model="Model.NewText.Lines.FirstOrDefault()"></CompareLine>
                    }
                    else
                    {
                        @Media.Item2.Blurb
                    }
                    <div class="pl-4">
                        <span><b>Credit:</b> @((MarkupString)SimpleCompare(Media.Item1?.Credit, Media.Item2.Credit, false))</span>
                        <span>
                            <b>Source:</b>
                            @if (Media.Item2.SourceFrom != SourceFromEnum.Device)
                            {
                                <a href="@Media.Item2.ContentUrl"> External Link</a>
                            }
                            else
                            {
                                <a href="@Media.Item2.ContentUrl"> Internal Link</a>
                            }
                        </span>
                        <span>
                            <b>Source Type:</b> @((MarkupString)SimpleCompare(Media.Item1 != null?GetEnumDisplayName((SourceFromEnum)Media.Item1?.SourceFrom) : null,
                                                                                GetEnumDisplayName((SourceFromEnum)Media.Item2.SourceFrom), false))
                        </span>
                        <span><b>Gore:</b> @((MarkupString)SimpleCompare(Media.Item1?.Gore == 1 ? "Yes" : "No", Media.Item2.Gore == 1 ? "Yes" : "No", false))</span>
                        <span><b>Rank:</b> @((MarkupString)SimpleCompare((Media.Item1?.Rank + 1).ToString(), (Media.Item2.Rank + 1).ToString(), false))</span>
                    </div>
                </div>
                <div class="col-7">
                    @* If the link between the two is different, one side is null *@
                    @if (Media.Item2.MediaType == MediaEnums.MediaTypeEnum.Video)
                    {
                        if (Media.Item2.SourceFrom == MediaEnums.SourceFromEnum.Youtube)
                        {
                            <div style="height: 275px !important;">
                                <iframe src="@youtube2Url" frameborder="0" class="h-100"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen="allowfullscreen">
                                </iframe>
                            </div>
                        }
                        else if (Media.Item2.SourceFrom == MediaEnums.SourceFromEnum.Reddit)
                        {
                            <div class="reddit-video-wrapper">
                                <video src="@Media.Item2.ContentUrl" width="320" height="240" class="reddit-sync" controls>
                                </video>
                            </div>
                        }
                    }
                    else if ((Media.Item2.MediaType == MediaEnums.MediaTypeEnum.Image))
                    {
                        <img src="@Media.Item2.ContentUrl" style="max-height:275px; width: auto;" zya="@(Media.Item2.ContentUrl ?? "it's null chief")"/>
                        @*<ul>
                            <li>@(Media.Item2.ContentUrl ?? "null link")</li>
                            <li>@(Media.Item2.Thumbnail ?? "null link")</li>
                            <li>@(Media.Item2.DisplayUrl ?? "null link")</li>
                            <li>@(Media.Item2.SourcePath ?? "null link")</li>
                            <li>@("Processsed: " + Media.Item2.Processed)</li>
                        </ul>*@
                    }
                    else if ((Media.Item2.MediaType == MediaEnums.MediaTypeEnum.News))
                    {
                        <img src="@Media.Item2.Thumbnail" style="max-height:250px; width: auto;" />
                    }
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public Tuple<ViewMedia, ViewMedia> Media { get; set; }

    [Parameter]
    public SideBySideDiffModel? Model { get; set; }
    [CascadingParameter]
    public bool IsNewEvent { get; set; }
    string youtube2Url;
    string youtube1Url;
    protected override async Task OnParametersSetAsync()
    {
        //TODO this is a crappy fix to youtube videos not having fullscreen. 
        await Task.Delay(50);
        if (Media.Item2?.MediaType == MediaTypeEnum.Video && Media.Item2?.SourceFrom == SourceFromEnum.Youtube)
        {
            youtube2Url = Media.Item2.ContentUrl;
        }
        if (Media.Item1?.MediaType == MediaTypeEnum.Video && Media.Item1?.SourceFrom == SourceFromEnum.Youtube)
        {
            youtube1Url = Media.Item1.ContentUrl;
        }
        this.StateHasChanged();
    }
}
