@using DiffPlex.DiffBuilder.Model;
@using static ThinBlueLie.Helper.Extensions.StringExtensions
@using KellermanSoftware.CompareNetObjects 

<div class="row">
    @if (IsNewEvent == false && !AreEqual)
    {
        <div class="col-6 px-4 @((SubjectPair.Item1 != null && SubjectPair.Item2 == null)? "deleted-item" : "")">
            @if (SubjectPair.Item1 != null)
            {
                <p class="font-weight-bold">
                    @if (Model != null)
                    {
                        <CompareLine Model="Model.OldText.Lines.FirstOrDefault()"></CompareLine>
                    }
                    else
                    {
                        @(SubjectPair.Item1.Name != null? SubjectPair.Item1.Name : "Unnamed")
                    }
                </p>
                @if (SubjectPair.Item2 != null)
                {
                    <span>
                        @((MarkupString)(GetComparePersonSummary(
                    new CommonPerson { Age = SubjectPair.Item1.Age, Sex = SubjectPair.Item1.Sex, Race = SubjectPair.Item1.Race },
                    new CommonPerson { Age = SubjectPair.Item2.Age, Sex = SubjectPair.Item2.Sex, Race = SubjectPair.Item2.Race },
                    true
                    )))
                    </span>
                }
                else
                {
                    <span>
                        @((MarkupString)(GetComparePersonSummary(
                    new CommonPerson { Age = SubjectPair.Item1.Age, Sex = SubjectPair.Item1.Sex, Race = SubjectPair.Item1.Race },
                    new CommonPerson { Age = SubjectPair.Item1.Age, Sex = SubjectPair.Item1.Sex, Race = SubjectPair.Item1.Race },
                    true
                    )))
                    </span>
                }
            }
        </div>
    }
    <div class="@(IsNewEvent? "col-12" : AreEqual? "" : "col-6") px-4 border-left @(AreEqual? "mx-auto" : "")
         @((SubjectPair.Item2 != null && SubjectPair.Item1 == null && !IsNewEvent)? "inserted-item" : "")"
         style="min-width:250px;">
        @if (SubjectPair.Item2 != null)
        {
            <p class="font-weight-bold">
                @if (Model != null)
                {
                    <CompareLine Model="Model.NewText.Lines.FirstOrDefault()"></CompareLine>
                }
                else
                {
                    @(SubjectPair.Item2.Name != null? SubjectPair.Item2.Name : "Unnamed")
                }
            </p>
            @if (SubjectPair.Item1 != null)
            {
                <span>
                    @((MarkupString)(GetComparePersonSummary(
                    new CommonPerson { Age = SubjectPair.Item1.Age, Sex = SubjectPair.Item1.Sex, Race = SubjectPair.Item1.Race },
                    new CommonPerson { Age = SubjectPair.Item2.Age, Sex = SubjectPair.Item2.Sex, Race = SubjectPair.Item2.Race },
                    false
                    )))
                </span>
            }
            else
            {
                <span>
                    @((MarkupString)(GetComparePersonSummary(
                    new CommonPerson { Age = SubjectPair.Item2.Age, Sex = SubjectPair.Item2.Sex, Race = SubjectPair.Item2.Race },
                    new CommonPerson { Age = SubjectPair.Item2.Age, Sex = SubjectPair.Item2.Sex, Race = SubjectPair.Item2.Race },
                    false
                    )))
                </span>
            }
        }
    </div>
</div>
@code {
    [Parameter]
    public Tuple<Subject, Subject> SubjectPair { get; set; }
    [Parameter]
    public SideBySideDiffModel? Model { get; set; }
    [CascadingParameter(Name = "IsNewEvent")]
    public bool IsNewEvent { get; set; }
    CompareLogic compareLogic;
    bool AreEqual;
    protected override void OnParametersSet()
    {
        compareLogic = new();
        AreEqual = compareLogic.Compare(SubjectPair.Item2, SubjectPair.Item1).AreEqual;
    }
}
