@using ThinBlueLie.Models;
@model ThinBlueLie.Pages.EditModel

@{
    ViewBag.Title = "Edit";
    var media = ViewData["Media"] as IList<ThinBlue.Media>;
    var Event = ViewData["Timelineinfo"] as ThinBlue.Timelineinfo;
}
<style>
    span a {
        font-size: .9rem;
    }

    .popover {
        top: -60px !important;
    }

    body {
        overflow-x: hidden;
    }
</style>
<div class="offset-lg-3 row container-fluid">
    <div class="col-lg-4 col-md-5 border-left border-right border-bottom">
        <div class="d-block mb-0 pt-3 border-bottom">
            <h4 class="mb-0">Information Edit Form</h4>
        </div>
        @using (Html.BeginForm("Submit", "Timeline", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group form-field">
                    <label asp-for="Timelineinfo.Date" class="control-label">
                        Date
                        <span class="text-danger ml-1">*</span>
                        <span>[<a href="javascript:void(0);">Revert</a>]</span>
                    </label>
                    <input id="DateInput" type="date" asp-for="Timelineinfo.Date" class="form-control SimFinder" placeholder="mm/dd/yyyy">
                    <span asp-validation-for="Timelineinfo.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row form-field">
                <div class="col-5 dropdown" style="position:relative;">
                    <label style="position:absolute; bottom:38px;" class="control-label">
                        State
                        <span class="text-danger ml-1">*</span>
                        <span>[<a href="javascript:void(0);">Revert</a>]</span>
                    </label>
                    <select asp-for="Timelineinfo.State" asp-items="Html.GetEnumSelectList(typeof(TimelineinfoEnums.StateEnum))" style="position:absolute; bottom:0; width:85%;" class="btn border-dark" type="button" aria-haspopup="true" aria-expanded="false">
                        <option class="dropdown-item">State</option>
                    </select>
                    <span asp-validation-for="Timelineinfo.State" class="text-danger"></span>
                </div>
                <div class="col-7 form-field">
                    <label asp-for="Timelineinfo.City" class="control-label">
                        City
                        <span class="text-danger ml-1">*</span>
                        <span>[<a href="javascript:void(0)">Revert</a>]</span>
                    </label>
                    <input asp-for="Timelineinfo.City" class="form-control" />
                    <span asp-validation-for="Timelineinfo.City" class="text-danger"></span>
                </div>
            </div>
            <hr /> <h6>
                Fill out the following information for the Subject/Victim
                <button class="btn btn-primary mx-auto" id="MoreSubjects">

                    <i class="align-bottom" style="height:1.2rem; width:1.2rem; margin-bottom:.2rem;" data-feather="plus-circle"></i>
                </button>
            </h6>
            <div id="SubjectList">
                <partial name="_SubjectPartial" />
            </div>
            <hr /> <h6>
                Fill out the following information for the Officer
                <button class="btn btn-primary mx-auto" id="MoreOfficers">

                    <i class="align-bottom" style="height:1.2rem; width:1.2rem; margin-bottom:.2rem;" data-feather="plus-circle"></i>
                </button>
            </h6>
            <div class="form-group form-field">
                <label class="form-check-label">
                    Type of Misconduct
                    <span>[<a href="javascript:void(0);">Revert</a>]</span>
                </label>
                @foreach (var item in Model.AvailableMisconducts)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedMisconducts"
                                   value="@item.Value"
                                   id="@item.Value"
                                   @*@if (Model.SelectedMisconducts.Contains(item.Value)) { <text> checked </text> }*@
                                   @{ if ((Int32.Parse(item.Value) & Model.Timelineinfo.Misconduct) != 0) { <text> checked="checked" </text>  } } /> @item.Text
                            </label>
                            <span asp-validation-for="Timelineinfo.Misconduct" class="text-danger"></span>
                        </div>
                    }
            </div>
            <div id="weaponDiv" class="form-group form-field">
                <label class="form-check-label">
                    Type of Weapon
                    <span>[<a href="javascript:void(0);">Revert</a>]</span>
                </label>
                @foreach (var item in Model.AvailableWeapons)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedWeapons"
                                   value="@item.Value"
                                   @{ if ((Int32.Parse(item.Value) & Model.Timelineinfo.Weapon) != 0) { <text> checked="checked" </text>  } } /> @item.Text
                            </label>
                        </div>
                    }
            </div>
            <hr />
            <div class="form-group form-field">
                <label asp-for="Timelineinfo.Context" class="control-label">
                    Use this section to fill in information about context around the event in the video. This could be things such as it being part of protests, the victim was previously detained, if there were more people involved, if there was any followup to the event or coverage in the news, etc.
                    <span>[<a href="javascript:void(0);">Revert</a>]</span>
                </label>
                <textarea asp-for="Timelineinfo.Context" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Timelineinfo.Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit" type="button" value="Submit" class="btn btn-primary" onclick="submitForms()" data-toggle="popover" data-trigger="manual" data-html="true" data-placement="top"
                       data-content=' @await Html.PartialAsync("Shared/_PleaseLogin.cshtml") ' />
                <a asp-page="/Index" style="float:right">Back to Home</a>
            </div>
        }
    </div>
    <div class="col-lg-5 col-md-5">
        <div class="row ">
            <div class="d-block border-top container-fluid">
                <h4 class="pt-2">Add Media</h4>
                <p class="mb-0" style="font-size:1em">
                    Add Media relavent to the event, such as videos, images, news articles, etc.
                </p>
                <hr />
            </div>
            <div id="MediaList">
                    <partial name="_MediaPartial" />
            </div>
            <div>
                <div class="container">
                    <button class="btn btn-primary mx-auto" id="MoreMedia">
                        Media
                        <i class="align-bottom" style="height:1.2rem; width:1.2rem; margin-bottom:.2rem;" data-feather="plus-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

