@using ThinBlueLie.Models;
@model ThinBlueLie.Pages.SubmitModel

@{
    int i;
    int MediaCount = 1;
    ViewBag.Title = "Submit";
}

<div class="offset-md-3 row container-fluid">
    <div class="col-md-4 border-left border-right border-bottom">
        <div class="d-block mb-0 pt-3 border-bottom">
            <h4 class="mb-0">Information Submission Form</h4>
        </div>
        @using (Html.BeginForm("Submit", "Timeline", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group">
                    <label asp-for="Timelineinfo.Date" class="control-label">Date<span class="text-danger ml-1">*</span></label>
                    <input id="DateInput" type="date" asp-for="Timelineinfo.Date" class="form-control SimFinder" placeholder="mm/dd/yyyy">
                    <span asp-validation-for="Timelineinfo.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-5 dropdown" style="position:relative;">
                    <label style="position:absolute; bottom:38px;" class="control-label">State<span class="text-danger ml-1">*</span></label>
                    <select asp-for="Timelineinfo.State" asp-items="Html.GetEnumSelectList(typeof(TimelineinfoEnums.StateEnum))" style="position:absolute; bottom:0; width:85%;" class="btn border-dark" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <option class="dropdown-item">State</option>
                    </select>
                    <span asp-validation-for="Timelineinfo.State" class="text-danger"></span>
                </div>
                <div class="col-7">
                    <label asp-for="Timelineinfo.City" class="control-label">City<span class="text-danger ml-1">*</span></label>
                    <input asp-for="Timelineinfo.City" class="form-control" />
                    <span asp-validation-for="Timelineinfo.City" class="text-danger"></span>
                </div>
            </div>
            <hr /> <h6>Fill out the following information for the Subject/Victim</h6>
            <div class="form-group">
                <label asp-for="Timelineinfo.SubjectName" class="control-label">Name <span class="text-muted ml-1">(First Last)</span></label>
                <input id="SNameInput" asp-for="Timelineinfo.SubjectName" class="form-control SimFinder" />
                <span asp-validation-for="Timelineinfo.SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-check-label">Sex</label>
                <div class="form-check">
                    <input type="radio" asp-for="Timelineinfo.SubjectSex" class="form-check-input" value="0">
                    <label class="form-check-label">Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Timelineinfo.SubjectSex" class="form-check-input" value="1" />
                    <label class="form-check-label">Female</label>
                    <span asp-validation-for="Timelineinfo.SubjectSex" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Timelineinfo.SubjectSex" class="form-check-input" value="2" />
                    <label class="form-check-label">Unclear</label>
                    <span asp-validation-for="Timelineinfo.SubjectSex" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-check-label">Race</label>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.SubjectRace" type="radio" value="0">
                    <label class="form-check-label">White</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.SubjectRace" type="radio" value="1">
                    <label class="form-check-label">Black</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.SubjectRace" type="radio" value="2">
                    <label class="form-check-label">Hispanic</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.SubjectRace" type="radio" value="3">
                    <label class="form-check-label">Asian</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.SubjectRace" type="radio" value="4">
                    <label class="form-check-label">Native American or Pacific Islander</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.SubjectRace" type="radio" value="5">
                    <label class="form-check-label">Unclear</label>
                </div>
            </div>
            <div class="form-group">
                <label class="form-check-label">Were they armed?</label>
                <div class="form-check">
                    <input id="ArmedNo" type="radio" asp-for="Timelineinfo.Armed" class="form-check-input" value="0">
                    <label class="form-check-label">No</label>
                </div>
                <div class="form-check">
                    <input id="ArmedYes" type="radio" asp-for="Timelineinfo.Armed" class="form-check-input" value="1" />
                    <label class="form-check-label">Yes</label>
                    <span asp-validation-for="Timelineinfo.Armed" class="text-danger"></span>
                </div>
            </div>
            <hr /> <h6>Fill out the following information for the Officer</h6>
            <div class="form-group">
                <label asp-for="Timelineinfo.OfficerName" class="control-label">Name</label>
                <input id="ONameInput" asp-for="Timelineinfo.OfficerName" class="form-control SimFinder" />
                <span asp-validation-for="Timelineinfo.OfficerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-check-label">Sex</label>
                <div class="form-check">
                    <input type="radio" asp-for="Timelineinfo.OfficerSex" class="form-check-input" value="0">
                    <label class="form-check-label">Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Timelineinfo.OfficerSex" class="form-check-input" value="1" />
                    <label class="form-check-label">Female</label>
                    <span asp-validation-for="Timelineinfo.OfficerSex" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Timelineinfo.OfficerSex" class="form-check-input" value="2" />
                    <label class="form-check-label">Unclear</label>
                    <span asp-validation-for="Timelineinfo.OfficerSex" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-check-label">Race</label>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.OfficerRace" type="radio" value="0">
                    <label class="form-check-label">White</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.OfficerRace" type="radio" value="1">
                    <label class="form-check-label">Black</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.OfficerRace" type="radio" value="2">
                    <label class="form-check-label">Hispanic</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.OfficerRace" type="radio" value="3">
                    <label class="form-check-label">Asian</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.OfficerRace" type="radio" value="4">
                    <label class="form-check-label">Native American or Pacific Islander</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Timelineinfo.OfficerRace" type="radio" value="5">
                    <label class="form-check-label">Unclear</label>
                </div>
            </div>
            <div class="form-group">
                <label class="form-check-label">Type of Misconduct</label>
                @foreach (var item in Model.AvailableMisconducts)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedMisconducts"
                                   value="@item.Value"
                                   id="@item.Value"
                                   @if (Model.SelectedMisconducts.Contains(item.Value)) { <text> checked </text> } /> @item.Text
                            </label>
                            <span asp-validation-for="Timelineinfo.Misconduct" class="text-danger"></span>
                        </div>
                    }
            </div>
            <div id="weaponDiv" class="form-group">
                <label class="form-check-label">Type of Weapon</label>
                @foreach (var item in Model.AvailableWeapons)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedWeapons"
                                   value="@item.Value"
                                   @if (Model.SelectedWeapons.Contains(item.Value)) { <text> checked </text> } /> @item.Text
                            </label>
                        </div>
                    }
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Timelineinfo.Context" class="control-label">Use this section to fill in information about context around the event in the video. This could be things such as it being part of protests, the victim was previously detained, if there were more people involved, if there was any followup to the event or coverage in the news, etc.</label>
                <textarea asp-for="Timelineinfo.Context" class="form-control"></textarea>
                <span asp-validation-for="Timelineinfo.Context" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-page="/Index" style="float:right">Back to Home</a>
            </div>
        }
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="container-fluid d-block">
                <h4 class="pt-2">Similar Videos</h4>
                <p class="mb-0" style="font-size:1em">
                    Here are similar pages that share some similarities with the information you are filling out,
                    either a date, name, video, or some combination of the three
                </p>
                <hr />
            </div>
            <div id="VideoList"><partial name="_SimilarPartial" /></div>
        </div>
        <div class="row">
            <div class="d-block border-top container-fluid">
                <h4 class="pt-2">Add Media</h4>
                <p class="mb-0" style="font-size:1em">
                    Add Media relavent to the event, such as videos, images, news articles, etc.
                </p>
                <hr />
            </div>
            <div id="MediaList">
                @*<partial name="_MediaPartial" />
                <partial name="_MediaPartial" />*@
                @for (i = 0; i < MediaCount; ++i)
                {
                    <partial name="_MediaPartial" />
                }
                @if (MediaCount < 10)
                {
                    <div class="container">
                        <button class="btn-lg btn-info mx-auto" data-placement="top" data-toggle="tooltip" title="Add another piece of Media">+ Media</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    //If Date changes, run the getsimilar action in the Timeline Controller and load the partial view.
    $(".SimFinder").change(function () {
        $('#VideoList').load('@Url.Action("GetSimilar","Timeline")', { TempDate: $("#DateInput").val() });
    });

    //$(".dropdown-menu a").click(function () {
    //   // $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
    //    //$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    //});
    document.getElementById("MediaFile").style.display = "none";

    const addMedia = document.querySelector("#AddMedia")
    addMedia.addEventListener('change', function (e) {
        if (e.target.getAttribute('id') === 'SourceFromSelect') {
            changeFile(e);
        }
    });   

    function changeFile(e) {
       // $("#SourceFromSelect").change(function () {
        console.log(e.target)
            var e = document.getElementById("SourceFromSelect");
            var strUser = e.options[e.selectedIndex].text;
            if (strUser == "Phone or Computer") {
                document.getElementById("MediaFile").style.display = "inline-block";
                document.getElementById("MediaLink").style.display = "none";
            }
            else {
                document.getElementById("MediaFile").style.display = "none";
                document.getElementById("MediaLink").style.display = "inline-block";
            }
       // })
    }



    //magic function disables inspect element
    //eval(function (p, a, c, k, e, d) { e = function (c) { return c.toString(36) }; if (!''.replace(/^/, String)) { while (c--) { d[c.toString(a)] = k[c] || c.toString(a) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('(3(){(3 a(){8{(3 b(2){7((\'\'+(2/2)).6!==1||2%5===0){(3(){}).9(\'4\')()}c{4}b(++2)})(0)}d(e){g(a,f)}})()})();', 17, 17, '||i|function|debugger|20|length|if|try|constructor|||else|catch||5000|setTimeout'.split('|'), 0, {}))

    document.getElementById("weaponDiv").style.display = "none";
    var WeaponCheckState = 0;

    document.getElementById("1").onclick = function () { showWeapon(); };
    //function resetForm() {
    //    $("[name ='SelectedWeapons']").val(function () {
    //        return this.defaultValue;
    //    });
    //}

    function showWeapon() {
        if (WeaponCheckState === 0) {
            document.getElementById("weaponDiv").style.display = "block";
            WeaponCheckState = 1;
        }
        else {
            $('input[name=SelectedWeapons]')
                .val('')
                .prop('checked', false)
                .prop('selected', false);
            document.getElementById("weaponDiv").style.display = "none";
            WeaponCheckState = 0;
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

