@using ThinBlueLie.Models;
@using static ThinBlue.Media;
@model ThinBlueLie.Pages.SubmitModel

@{
    ViewBag.Title = "Submit";
}
<style>
    .popover {
        top: -60px !important;
    }

    body {
        overflow-x: hidden;
    }

    form {
        display: inherit;
    }
</style>
<div class="offset-lg-3 row container-fluid">
    @using (Html.BeginForm("Submit", "Timeline", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="col-lg-4 col-md-5 border-left border-right border-bottom">
            <div class="d-block mb-0 pt-3 border-bottom">
                <h4 class="mb-0">Information Submission Form</h4>
            </div>
            @*<form id="mainForm" method="post">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group">
                    <label asp-for="Timelineinfos.Date" class="control-label">
                        Date<span class="text-danger ml-1">*</span>
                        <span asp-validation-for="Timelineinfos.Date" class="text-danger"></span>
                    </label>
                    <input id="DateInput" type="date" asp-for="Timelineinfos.Date" class="form-control SimFinder" placeholder="mm/dd/yyyy">
                </div>
            </div>
            <div class="form-row">
                <div class="col-5 dropdown" style="position:relative;">
                    <label style="position:absolute; bottom:38px;" class="control-label">
                        State<span class="text-danger ml-1">*</span>
                        <span asp-validation-for="Timelineinfos.State" class="text-danger"></span>
                    </label>
                    <select asp-for="Timelineinfos.State" asp-items="Html.GetEnumSelectList(typeof(TimelineinfoEnums.StateEnum))" style="position:absolute; bottom:0; width:85%;" class="btn border-dark" type="button" aria-haspopup="true" aria-expanded="false">
                        <option class="dropdown-item">State</option>
                    </select>
                </div>
                <div class="col-7">
                    <label asp-for="Timelineinfos.City" class="control-label">
                        City<span class="text-danger ml-1">*</span>
                        <span asp-validation-for="Timelineinfos.City" class="text-danger"></span>
                    </label>
                    <input asp-for="Timelineinfos.City" class="form-control" />
                </div>
            </div>
            <hr /> <h6>
                Fill out the following information for the Subject/Victim
                <button class="btn btn-primary mx-auto" id="MoreSubjects">

                    <i class="align-bottom" style="height:1.2rem; width:1.2rem; margin-bottom:.2rem;" data-feather="plus-circle"></i>
                </button>
            </h6>
            <div id="SubjectList">
                <partial name="_SubjectPartial" />
            </div>
            <hr /> <h6>
                Fill out the following information for the Officer
                <button class="btn btn-primary mx-auto" id="MoreOfficers">

                    <i class="align-bottom" style="height:1.2rem; width:1.2rem; margin-bottom:.2rem;" data-feather="plus-circle"></i>
                </button>
            </h6>
            <div id="OfficerList">
                <partial name="_OfficerPartial" />
            </div>
            <div class="form-group form-field">
                <label class="form-check-label">
                    Type of Misconduct
                </label>
                @foreach (var item in Model.AvailableMisconducts)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedMisconducts"
                                   value="@item.Value"
                                   id="@item.Value"
                                   @if (Model.SelectedMisconducts.Contains(item.Value)) { <text> checked </text> } /> @item.Text
                            </label>
                            <span asp-validation-for="Timelineinfos.Misconduct" class="text-danger"></span>
                        </div>
                    }
            </div>
            <div id="weaponDiv" class="form-group">
                <label class="form-check-label">Type of Weapon</label>
                @foreach (var item in Model.AvailableWeapons)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedWeapons"
                                   value="@item.Value"
                                   @if (Model.SelectedWeapons.Contains(item.Value)) { <text> checked </text> } /> @item.Text
                            </label>
                        </div>
                    }
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Timelineinfos.Context" class="control-label">Use this section to fill in information about context around the event in the video. This could be things such as it being part of protests, the victim was previously detained, if there were more people involved, if there was any followup to the event or coverage in the news, etc.</label>
                <textarea asp-for="Timelineinfos.Context" class="form-control"></textarea>
                <span asp-validation-for="Timelineinfos.Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit" type="button" value="Submit" class="btn btn-primary" data-toggle="popover" data-trigger="manual" data-html="true" data-placement="top"
                       data-content=' @await Html.PartialAsync("Shared/_PleaseLogin.cshtml") ' />
                <a asp-page="/Index" style="float:right">Back to Home</a>
            </div>

            @*</form>*@
        </div>
        <div class="col-lg-5 col-md-5">
            <div class="row">
                <div class="container-fluid d-block">
                    <h4 class="pt-2">Similar Videos</h4>
                    <p class="mb-0" style="font-size:1em">
                        Here are similar pages that share some similarities with the information you are filling out,
                        either a date, name, video, or some combination of the three
                    </p>
                    <hr />
                    <div id="VideoList">
                        <partial name="_SimilarPartial" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-block border-top container-fluid">
                    <h4 class="pt-2">Add Media</h4>
                    <p class="mb-0" style="font-size:1em">
                        Add Media relavent to the event, such as videos, images, news articles, etc.
                    </p>
                    <hr />
                </div>
                <div id="MediaList">
                    <partial name="_MediaPartial" />
                </div>
                <div>
                    <div class="container">
                        <button class="btn btn-primary mx-auto" id="MoreMedia">
                            Media
                            <i class="align-bottom" style="height:1.2rem; width:1.2rem; margin-bottom:.2rem;" data-feather="plus-circle"></i>
                        </button>
                        @*<input type="submit" value="submit" class="btn btn-primary" />*@
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    var attempt = 0;
    $('#submit').on('click', function (e) {
        // submitForms = function () {
        e.preventDefault();
        $.get('Submit/CheckSignedIn', function (data) {
            if (data == false && attempt == 0) {
                console.log("if ran");
                $('#submit').popover('show');
                attempt = 1;
            }
            else if (attempt == 1 || data == true) {
                console.log("else if ran");
                $('form').submit();
                // SubmitMedia();
                $('#submit').popover('hide');
            }
        });
        //  }
    })
    //gets first box in misconduct and on click runs showWeapon
    $("#1").on('click', function (e) {

    }); showWeapon();

    function showWeapon() {
        console.log("function");
        var x = $("#1").prop("checked")
        if (x == true) {
            console.log("if");
            $("#weaponDiv").css("display", "block");
        }
        else {
            console.log("else");
            $('input[name=SelectedWeapons]')
                .val('')
                .prop('checked', false)
                .prop('selected', false);
            $("#weaponDiv").css("display", "none");
        }
    }
    showWeapon();
</script>
<script src="~/js/SubmitandEdit.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

