@*Information Card*@
<div class="col-md-2 mx-auto mx-md-0 p-md-0" style="max-width:400px;">
    <div class="dataCard card border-dark mb-3 w-100" style="min-width:175px;">
        <div class="card-header text-black"><strong>Data</strong></div>
        <div class="card-body text-dark pb-0">
            <h5 class="card-title mb-0">General Information</h5>
            <hr class="mt-0 pb-0 mb-0 pt-0" />
            <ul class="list-group list-group-flush">
                <li class="brokencard list-group-item">
                 @*   <p><strong>Location:</strong> @Timelineinfo.Data.City, @GetEnumDisplayName((TimelineinfoEnums.StateEnum)Timelineinfo.Data.State)</p>*@
                    <p><strong>Source:</strong></p>
                    <p><strong>Credit:</strong></p>
                </li>
            </ul>
            <h5 class="card-title text-left mb-0">Officer's Information</h5>
            <hr style="height:1px;" class="mt-0 pb-0 mb-0 pt-0" />
            <ul class=" list-group list-group-flush">
                <li class="brokencard list-group-item">
                    @*<p><strong>Name:</strong> @Timelineinfo.OfficerName</p>
                        <p><strong>Sex:</strong> @Enum.GetName(typeof(SexEnum), Timelineinfo.OfficerSex)</p>
                        <p><strong>Race:</strong> @Enum.GetName(typeof(RaceEnum), Timelineinfo.OfficerRace)</p>*@
                    @*Have little label/tags for "violence" "harrassment" "negligence" "evidence planting"*@
                </li>
            </ul>
            <h5 class="card-title text-left mb-0">Victim's Information</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item ">
                    @*<p><strong>Name:</strong> @Timelineinfo.SubjectName</p>
                        <p><strong>Sex:</strong> @Enum.GetName(typeof(SexEnum), Timelineinfo.SubjectSex)</p>
                        <p><strong>Race:</strong> @Enum.GetName(typeof(RaceEnum), Timelineinfo.SubjectRace)</p>
                        <p><strong>Armed:</strong> @Enum.GetName(typeof(ArmedEnum), Timelineinfo.Armed) </p>*@
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6 px-0 offset-1">
                    @*<a class="btn btn-primary position-relative" href="/Edit?id=@Timelineinfo.Data.IdTimelineinfo" data-placement="top"
                       data-toggle="tooltip" title="Edit info">
                        Incorrect Info?
                    </a>*@
                </div>
                <div class="col-5 px-0">
                    <a tabindex="0" class="btn btn-danger position-relative flag" data-placement="top" role="button" data-html="true" data-toggle="popover" data-trigger="click" title="Report"
                       data-content=''>
                        Flag ⚐
                    </a>
                </div>
                <div>
                    <button onclick="test()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
