@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using ThinBlueLieB.Helper

<div class="AddMedia">
    <div class="card border-dark mt-3">
        <div class="card-body text-dark row pt-0">
            <div name="mediaAdd" class="container-fluid px-4">
                <div class="position-absolute d-inline-flex" style="right: 5px; z-index:1000;">
                    <SfButton @onclick="@(() => MoveMediaUp.InvokeAsync(media.ListIndex))" IconCss="e-icons e-chevron-up-icon" IsPrimary="true" CssClass="e-flat e-custom"></SfButton>
                    <SfButton @onclick="@(() => MoveMediaDown.InvokeAsync(media.ListIndex))" IconCss="e-icons e-chevron-down-icon" IsPrimary="true" CssClass="e-flat e-custom"></SfButton>
                    <SfButton @onclick="@(() => MoveMediaTop.InvokeAsync(media.ListIndex))" IconCss="e-icons e-double-arrow-up-icon" IsPrimary="true" CssClass="e-flat mr-lg-3 mr-2 e-custom"></SfButton>
                    <SfButton @onclick="@(() => DeleteMedia.InvokeAsync(media.ListIndex))" IconCss="e-icons e-close-icon" IsPrimary="true" CssClass="e-flat e-custom"></SfButton>
                </div>
                <div class="form-row position-relative">
                    <div class="col-6 dropdown my-2 pr-2">
                        <SfDropDownList TItem="Extensions.ListItem" TValue="byte" PopupHeight="230px" FloatLabelType="@FloatLabelType.Auto" Index="1" Placeholder="Type of Media" @bind-Value="@media.MediaType" DataSource="@MediaTypes">
                            <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                    <div class="col-6 dropdown my-2 pl-2">
                        <SfDropDownList TItem="Extensions.ListItem" TValue="byte" PopupHeight="230px" FloatLabelType="@FloatLabelType.Auto" Index="1" Placeholder="Source Location" @bind-Value="@media.SourceFrom" DataSource="@SourceFromOptions">
                            <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>
                <div class="form-row align-middle mb-2 pl-1">
                    <div class="col-8">
                        <SfTextBox CssClass="e-filled" Placeholder="Provide a brief description" FloatLabelType="@FloatLabelType.Always" @bind-Value="media.Blurb"></SfTextBox>
                        <ValidationMessage For="@(() => media.Blurb)"></ValidationMessage>
                    </div>
                    <div class="col-4">
                        <SfTextBox CssClass="e-filled" Placeholder="Credit" FloatLabelType="@FloatLabelType.Always" @bind-Value="media.Credit"></SfTextBox>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-5">
                        @*@if (Enum.GetName(typeof(MediaEnums.MediaTypeEnum), media.SourceFrom) == "Device")*@
                        @if (media.SourceFrom == 6)
                        {
                            <div class="form-group MediaFile">
                                <SfUploader ID="UploadFiles" CssClass="e-filled mt-2" DropArea=".control-fluid">
                                    <UploaderEvents OnRemove="OnFileRemove"></UploaderEvents>
                                    <UploaderAsyncSettings SaveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Save" RemoveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Remove"></UploaderAsyncSettings>
                                </SfUploader>
                            </div>
                        }
                        else
                        {
                    <div class="form-group MediaLink">
                        <SfTextBox CssClass="e-filled" Placeholder="Link your Media here" FloatLabelType="@FloatLabelType.Always" @bind-Value="media.SourcePath"></SfTextBox>
                        <ValidationMessage For="@(() => media.SourcePath)"></ValidationMessage>
                    </div>
                        }
                    </div>
                    <div class="ml-3 col-6">
                        <label class="form-check-label">
                            Is there any blood or gore in the video?<span class="text-danger ml-1">*</span>
                            <ValidationMessage For="@(() => media.Gore)"></ValidationMessage>
                        </label>
                        <div class="row">
                            <div class="form-check m-2 d-inline">
                                <SfRadioButton Label="No" Name="@media.ListIndex.ToString()" Value="0" Checked="@media.Gore"></SfRadioButton>
                            </div>
                            <div class="form-check m-2 d-inline">
                                <SfRadioButton Label="Yes" Name="@media.ListIndex.ToString()" Value="1" Checked="@media.Gore"></SfRadioButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public ViewMedia media { get; set; }

    [Parameter]
    public EventCallback<int> MoveMediaUp { get; set; }
    [Parameter]
    public EventCallback<int> MoveMediaDown { get; set; }
    [Parameter]
    public EventCallback<int> MoveMediaTop { get; set; }
    [Parameter]
    public EventCallback<int> DeleteMedia { get; set; }

    IReadOnlyList<Extensions.ListItem> MediaTypes = Extensions.GetDropdownList<MediaEnums.MediaTypeEnum>.Items;
    IReadOnlyList<Extensions.ListItem> SourceFromOptions = Extensions.GetDropdownList<MediaEnums.SourceFromEnum>.Items;

    public void OnFileRemove(RemovingEventArgs args)
    {
        args.PostRawFile = false;
    }
}
