@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@using ThinBlueLieB.Helper.Algorithms.WebsiteProfiling

<style>
    .e-card > .e-card-image {
        background-repeat: no-repeat;
        min-height: 205px;
    }

    .e-card-header-title {
        white-space: normal !important;
        font-size: 1.1rem;
        padding-bottom: 0 !important;
    }
    #SideCard{
        margin-top: .8rem;
    }
</style>
@if (news.HasData == false)
{
    <p>Loading</p>
}
else{
    <SfCard ID="SideCard">
        <CardImage Image="@news.Image.ToString()" />
        <CardHeader Title="@news.Title" />
        <CardContent Content="@news.Description" />
        <CardFooter>
            <CardFooterContent>
                <a class="e-btn e-outline e-primary" href="@news.Url.ToString()">Read More</a>
                <span class="float-right">@news.SiteName</span>
            </CardFooterContent>
        </CardFooter>
    </SfCard>
}

@code {
    [Parameter]
    public string newsUrl { get; set; }
    public MetaTags news { get; set; }
    protected override async Task OnInitializedAsync()
    {
        news = new MetaTags(newsUrl); //initialized with HasData = false
        news = await MetaScraper.GetMetaData(newsUrl); //Filling out with data later. 
    }
}
