@using ThinBlueLieB.Models;
@using Syncfusion.Blazor.DropDowns
@using DataAccessLibrary.Enums
@using System.Linq
@using DataAccessLibrary.DataModels 

<div class="AddOfficer mt-2">
    <div class="card border-dark mb-3 mx-auto">
        <div class="card-body text-dark pt-2">
            <div class="form-row position-relative">
                <div class="col-12 my-2">
                    <SfTextBox CssClass="e-filled" Placeholder="Name" FloatLabelType="@FloatLabelType.Always" @bind-Value="officer.Name"></SfTextBox>
                </div>
                <button type="button" class="close position-absolute" aria-label="Close" style="left: 98%;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="form-row position-relative my-2">
                <div class="col-6">
                    <SfDropDownList TItem="ListItem" TValue="byte" PopupHeight="230px" FloatLabelType="@FloatLabelType.Auto" Index="1" Placeholder="Race" @bind-Value="@officer.Race" DataSource="@Races">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
                <div class="col-6">
                    <SfDropDownList TItem="ListItem" TValue="byte" PopupHeight="230px" FloatLabelType="@FloatLabelType.Auto" Index="2" Placeholder="Sex" @bind-Value="@officer.Sex" DataSource="@Sexes">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6 form-field">
                    <label class="form-check-label">
                        Type of Misconduct
                    </label>
                    <SfMultiSelect TValue="int[]" Mode="@VisualMode.Box" Placeholder="Miconducts" @bind-Value="@MisconductsVal" DataSource="@MisconductsList">
                        <MultiSelectFieldSettings Text="Text" Value="Value"></MultiSelectFieldSettings>
                    </SfMultiSelect>                    
                </div>
                <div class="col-6">
                    <label class="form-check-label">
                        Type of Weapon
                    </label>
                    <SfMultiSelect TValue="int[]" Mode="@VisualMode.Box" Placeholder="Weapons" @bind-Value="@WeaponsVal" DataSource="@WeaponsList">
                        <MultiSelectFieldSettings Text="Text" Value="Value"></MultiSelectFieldSettings>
                    </SfMultiSelect>                  
                </div>
            </div>
        </div>
    </div>
</div>

@code {   
    private ViewOfficer officer = new ViewOfficer();

    List<ListItem> Sexes = Enum.GetValues(typeof(TimelineinfoEnums.SexEnum)).Cast<TimelineinfoEnums.SexEnum>().Select(
                           x => new ListItem { Text = x.ToString(), Value = (int)x }).ToList();
    List<ListItem> Races = Enum.GetValues(typeof(TimelineinfoEnums.RaceEnum)).Cast<TimelineinfoEnums.RaceEnum>().Select(
                       x => new ListItem { Text = x.ToString(), Value = (int)x }).ToList();

    public int[] MisconductsVal { get; set; } = new int[] { };
    public int[] WeaponsVal { get; set; } = new int[] { };

    public class ListItem
    {
        public int Value { get; set; }
        public string Text { get; set; }
    }
    private List<ListItem> MisconductsList = new List<ListItem>()
{
        new ListItem(){Text = "Unnecessary use of Force",                   Value = 1},
        new ListItem(){Text = "Killing of Pets",                            Value = 2},
        new ListItem(){Text = "Evidence Tampering",                         Value = 4},
        new ListItem(){Text = "Non-Violent Harassment/Intimidation",        Value = 8},
        new ListItem(){Text = "Negligence",                                 Value = 16},
        new ListItem(){Text = "Unwarranted Suizure of Property/Theft",      Value = 32},
        new ListItem(){Text = "Unwarranted Search",                         Value = 64},
        new ListItem(){Text = "False Arrest/Detention",                     Value = 128},
        new ListItem(){Text = "Abuse of Authority for Personal Gain",       Value = 256},
    };
    private List<ListItem> WeaponsList = new List<ListItem>()
{
        new ListItem(){Text = "Body",       Value = 1},
        new ListItem(){Text = "Projectile", Value = 2},
        new ListItem(){Text = "Taser",      Value = 4},
        new ListItem(){Text = "Tear Gas",   Value = 8},
        new ListItem(){Text = "Vehicle",    Value = 16},
        new ListItem(){Text = "Gun",        Value = 32},
    };

}
