@using ThinBlueLieB.Models;
@using Syncfusion.Blazor.DropDowns
@using DataAccessLibrary.Enums
@using System.Linq
@using DataAccessLibrary.DataModels
@using Syncfusion.Blazor.Buttons
@using ThinBlueLieB.Helper
<style>
    .armed-checkbox{
        position: absolute;
        bottom: 16px;
    }
</style>

<div class="AddOfficer mt-2">
    <div class="card border-dark mb-3 mx-auto">
        <div class="card-body text-dark pt-2">
            <div class="form-row position-relative">
                <div class="my-2 ml-1" style="width:48%">
                    <SfTextBox CssClass="e-filled" Placeholder="Name" FloatLabelType="@FloatLabelType.Always" @bind-Value="subject.Name"></SfTextBox>
                </div>
                <div class="my-2" style="margin-left:10px;">
                    <SfNumericTextBox Width="8rem" Placeholder="Age" Decimals=0 ValidateDecimalOnType="true" TValue="int?" Min=0 Max=130 Step=1
                    @bind-Value="subject.Age" FloatLabelType="@FloatLabelType.Always"></SfNumericTextBox>
                </div>
                <div class="ml-3">
                    <SfCheckBox CssClass="armed-checkbox" @bind-Checked="@subject.Armed" Label="Armed"></SfCheckBox>
                </div>
                <button type="button" class="close position-absolute" aria-label="Close" style="left: 98%;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="form-row position-relative my-2">
                <div class="col-6">
                    <SfDropDownList TItem="Extensions.ListItem" TValue="byte" PopupHeight="230px" FloatLabelType="@FloatLabelType.Auto" Index="1" Placeholder="Race" @bind-Value="@subject.Race" DataSource="@Races">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
                <div class="col-6">
                    <SfDropDownList TItem="Extensions.ListItem" TValue="byte" PopupHeight="230px" FloatLabelType="@FloatLabelType.Auto" Index="2" Placeholder="Sex" @bind-Value="@subject.Sex" DataSource="@Sexes">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private ViewSubject subject = new ViewSubject();

    IReadOnlyList<Extensions.ListItem> Sexes = Extensions.GetDropdownList<TimelineinfoEnums.SexEnum>.Items;
    IReadOnlyList<Extensions.ListItem> Races = Extensions.GetDropdownList<TimelineinfoEnums.RaceEnum>.Items;
}