@page "/test"
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Mvc
@using ThinBlueLieB.Helper.Extensions

@using Syncfusion.Blazor.DropDowns
<div class="container w-25 mt-5">
    <SfDropDownList TValue="Values" TItem="string" Placeholder="e.g. Australia" DataSource="@EnumValues" @bind-Value="@ddlVal">
    </SfDropDownList>
    <SfDropDownList TValue="Values" TItem="EnumExtensions.ListItem" Placeholder="e.g. Australia" DataSource="@EnumValues2" @bind-Value="@ddlVal">
        <DropDownListFieldSettings Value="Value" Text="Text"></DropDownListFieldSettings>
    </SfDropDownList>
    <SfDropDownList TValue="Values" TItem="EnumExtensions.ListItem" Placeholder="e.g. Australia" DataSource="@Sexes" @bind-Value="@ddlVal">
        <DropDownListFieldSettings Value="Value" Text="Text"></DropDownListFieldSettings>
    </SfDropDownList>
</div>

@code{
    IReadOnlyList<EnumExtensions.ListItem> Sexes;
    public IEnumerable<string> EnumValues;
    IReadOnlyList<EnumExtensions.ListItem> EnumValues2;
    public Values ddlVal { get; set; }
    protected override void OnInitialized()
    {
        Sexes = EnumExtensions.GetDropdownList<TimelineinfoEnums.SexEnum>.Items;
        EnumValues = Enum.GetNames(typeof(Values));
        EnumValues2 = EnumExtensions.GetDropdownList<Values>.Items;
    }
    public enum Values
    {
        Australia = 1,
        Bermuda,
        Canada,
        Denmark,
        India,
        US

    }
}
