@using DataAccessLibrary.Enums;
@using Syncfusion.Blazor.DropDowns
@using DataAccessLibrary.DataModels
@using Syncfusion.Blazor.Inputs
@using ThinBlueLie.Helper.Extensions
@using Microsoft.AspNetCore.Identity
@using DataAccessLibrary.DataAccess 
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@inject UserManager<ApplicationUser> userManager
@inject IDataAccess data
@using DataAccessLibrary.UserModels

<div class="flagPopover">
    <AuthorizeView>
        <NotAuthorized>
            <h6>
                Please
                <a href="/Account/Login">Login</a> or
                <a href="/Account/Register">Register</a>
                to flag a post
            </h6>
        </NotAuthorized>
        <Authorized Context="Auth">
            @if (submitted == false)
            {
                <EditForm Model="flagged" OnValidSubmit="SubmitFlag">
                    <DataAnnotationsValidator/>
                    <div style="width:200px; min-height:150px;">
                        <div class="form-group">
                            <div class="dropdown pl-0" style="position:relative;">
                                <SfDropDownList @bind-Value="@flagged.FlagType" TItem="EnumExtensions.ListItem" TValue="FlaggedEnums.FlagTypeEnum?" PopupHeight="230px"
                                                FloatLabelType="@FloatLabelType.Always" Placeholder="Reason for Flagging" DataSource="@FlagTypes">
                                    <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                                </SfDropDownList>
                                <ValidationMessage For="@(() => flagged.FlagType)"></ValidationMessage>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <SfTextBox Placeholder="Explain why you are flagging" @bind-Value="flagged.Message" 
                                       FloatLabelType="@FloatLabelType.Always" Multiline="true"></SfTextBox>
                            <ValidationMessage For="@(() => flagged.Message)"></ValidationMessage>
                        </div>
                    </div>
                    <div>
                        <button id="submit" type="submit" class="submitFlag btn btn-primary w-50 mb-1">Submit</button>
                    </div>
                </EditForm>
            }
            else
            {
                <h6>Thanks for flagging this post, it will be reviewed shortly</h6>
            }
        </Authorized>
    </AuthorizeView>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }
    private AuthenticationState userState;
    [Parameter]
    public int IdTimelineinfo { get; set; }

    Flags flagged = new Flags();
    bool submitted = false;

    protected async override Task OnInitializedAsync()
    {
        userState = await _authState;
    }

    async void SubmitFlag()
    {
        //flagged.UserId = userManager.GetUserId(authentication.User);
        try
        {
            flagged.UserId = Convert.ToInt32(userManager.GetUserId(userState.User));
        }
        catch (Exception)
        {
            flagged.UserId = null;
        }
        flagged.IdTimelineinfo = IdTimelineinfo;
        string flaggedSql = "INSERT INTO flags (`IdTimelineinfo`, `FlagType`, `Message`, `UserId`) VALUES (@IdTimelineinfo, @FlagType, @Message, @UserId);";
        await data.SaveData(flaggedSql, new {
            flagged.IdTimelineinfo,
            flagged.FlagType,
            flagged.Message,
            flagged.UserId
        });
        Serilog.Log.Information("Submitted new Flag for Event Id: {EventId}", flagged.IdTimelineinfo);
        submitted = true;
        this.StateHasChanged();
    }

    IEnumerable<EnumExtensions.ListItem> FlagTypes = EnumExtensions.GetEnumDisplayNames<FlaggedEnums.FlagTypeEnum>();
}
