@using ThinBlueLie.Helper.Algorithms 
@using Syncfusion.Blazor.Spinner 


<style>
    .ytp-pause-overlay {
        display: none;
    }

    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
      /*  background-size: contain;
        background-repeat: no-repeat;
        background-position: center;*/
    }

    .gallery-top {
        height: 75%;
        width: 100%;
    }

    .gallery-thumbs {
        height: 25%;
        box-sizing: border-box;
        padding: 10px 0;
    }

        .gallery-thumbs .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
        }

        .gallery-thumbs .swiper-slide-thumb-active {
            opacity: 1;
        }

    .swiper-slide iframe {
        width: 100%;
        height: 100%;
    }
    .video {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .play-button {
        position: absolute;
        display: block;
        width: 35%;
        top: 40%;
        left: 40%;
        margin: -10% 0 0 -8%;
    }
    .gallery-top .swiper-slide {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .gallery-thumbs .swiper-slide{
        min-height: 100px;
    }
</style>
@if (Media.Any() == false)
{
    <div class="col-lg-9">
        <div class="mx-auto">
            <SfSpinner Type="@SpinnerType.Material"></SfSpinner>
        </div>
    </div>
}
else
{
<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
        @foreach (var media in Media)
        {
            if (media.MediaType == MediaEnums.MediaTypeEnum.Video)
            {
                if (media.SourceFrom == MediaEnums.SourceFromEnum.Youtube)
                {
                    <div class="swiper-slide">
                        <iframe src="@media.ContentUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
                else if (media.SourceFrom == MediaEnums.SourceFromEnum.Reddit)
                {
                    <div class="swiper-slide">
                        <video src="@media.ContentUrl" width="320" height="240" class="reddit-sync" controls>
                        </video>
                    </div>
                }
            }
            else if (media.MediaType == MediaEnums.MediaTypeEnum.Image)
            {
                <div class="swiper-slide" style="
                   background-image: url(@media.ContentUrl)">
                </div>
            }
        }
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div>
<div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
        @foreach (var media in Media)
        {
            if (media.MediaType == MediaEnums.MediaTypeEnum.Video)
            {
                <div class="swiper-slide video"
                        style="background-image: url(@media.Thumbnail) ">
                    <img class="play-button" alt="play button overlay" src="/Assets/Play-Button.png" href="#" />
                </div>
            }
            else if (media.MediaType == MediaEnums.MediaTypeEnum.Image)
            {
                <div class="swiper-slide" style="
                   background-image: url(@media.ContentUrl)">
                </div>
            }
        }
    </div>
</div>
}

@code {
    [Parameter]
    public List<ViewMedia>? Media { get; set; }
}
