@using ThinBlueLie.Models;
@using DataAccessLibrary.Enums;
@using ThinBlueLie.Helper;
@using HtmlAgilityPack
@using ThinBlueLie.Helper.Extensions;

<style>
    .location {
        text-decoration: underline;
        font-size: 1.2rem;
        padding-top: 0.1rem;
        text-decoration-skip: none !important;
    }

    .people-list {
        display: inline-block;
        padding-left: 1.5rem;
        margin-bottom: 0px;
    }

    .people {
        margin-bottom: .3rem;
    }

    .similar-bold {
        position: relative;
        vertical-align: top;
    }

    .single-person {
    }

    .similar-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
</style>

<div id="likeVideos" class="mt-2">
    <div class="card border-dark mb-3 ml-1">
        <div class="card-header similar-header">
            <span>@(Event.Timelineinfo.Date.ToString("MMMM d") + StringExtensions.GetDaySuffix(Event.Timelineinfo.Date.Day) + ", " + Event.Timelineinfo.Date.Year.ToString())</span>
            <span>@(Event.Timelineinfo.Title)</span>
        </div>
        <div class="card-body text-dark pt-2">
            <div class="d-block">
                <div class="d-inline-block">
                    @{ 
                        var title = new string(Event.Timelineinfo.Title.Where(c => !char.IsPunctuation(c)).ToArray()).Split(' ').Take(5);
                        var title2 = string.Join("-", title);
                    }
                    <a class="location" href="@("/Events/" + Event.Timelineinfo.Date.ToString("yyyy-MM-dd") + "/" + title2)">
                    @Event.Timelineinfo.City, @EnumExtensions.GetEnumDisplayName((TimelineinfoEnums.StateEnum)Event.Timelineinfo.State)
                    </a>
                    <div class="people">
                        <span class="similar-bold">
                            <strong>Subject@(subjectsDetails.Count != 1 ? "s: " : ": ")</strong>
                        </span>
                        @if (subjectsDetails.Count > 1)
                        {
                            <ul class="people-list">
                                @foreach (var subject in subjectsDetails)
                                {
                                    <li>
                                        @subject
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span class="single-person">@subjectsDetails[0]</span>
                        }
                    </div>
                    <div class="people">
                        <span class="similar-bold">
                            <strong>Officer@(officersDetails.Count != 1 ? "s: " : ": ")</strong>
                        </span>
                        @if (officersDetails.Count > 1)
                        {
                            <ul class="people-list">
                                @foreach (var officer in officersDetails)
                                {
                                    <li>
                                        @officer
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span class="single-person">@officersDetails[0]</span>
                        }
                    </div>
                </div>
                <div class="d-inline-block float-right">
                   <img src="@Event.Media.Thumbnail" style="max-height:175px;"/>
                </div>
            </div>
            <div>
                @{
                    HtmlDocument htmlDoc = new HtmlDocument();
                    htmlDoc.LoadHtml(Event.Timelineinfo.Context);
                    string result = htmlDoc.DocumentNode.InnerText;
                }
                <p class="mb-0 d-block" style="overflow-wrap:normal;"><strong>Context:</strong> @StringExtensions.TruncateString(result)</p>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public ViewSimilar Event { get; set; }
    List<string> subjectsDetails;
    List<string> officersDetails;
    string subjectList;
    string officerList;
    protected override void OnInitialized()
    {
        subjectsDetails = StringExtensions.GetSummaryList(Event.Subjects);
        officersDetails = StringExtensions.GetSummaryList(Event.Officers);
        subjectList = StringExtensions.CommaQuibbling(subjectsDetails);
        officerList = StringExtensions.CommaQuibbling(officersDetails);
    }

}
