@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using ThinBlueLie.Helper.Extensions

<div class="AddSubject mt-2">
    <div class="card border-dark mb-3 mx-auto">
        <div class="card-body text-dark pt-2">
            <div @onclick="@(() => DeleteSubject.InvokeAsync(subject.ListIndex))" @onclick:stopPropagation="false" @onclick:preventDefault class="position-absolute d-inline-flex" style="right: 5px; top:0px; z-index:2;">
                <SfButton IconCss="e-icons e-close-icon" IsPrimary="true" CssClass="e-flat e-custom"></SfButton>
            </div>
            <div class="form-row position-relative">
                <div class="my-2 ml-1" style="width:71%">
                    <SfTextBox Enabled="@(subject.SameAsId != null? false: true)" CssClass="e-filled" Placeholder="Name" FloatLabelType="@FloatLabelType.Always" @bind-Value="subject.Name" @onchange="(()=> SuggestSubjects.InvokeAsync(new SimilarPersonCallback { Name = subject.Name, Index = subject.ListIndex }))"></SfTextBox>
                    <ValidationMessage For="@(() => subject.Name)"></ValidationMessage>
                </div>
                <div class="my-2 ml-2 w-25">
                    <SfNumericTextBox Placeholder="Age" Decimals=0 ValidateDecimalOnType="true" TValue="int?" Min=0 Max=130 Step=1
                                      @bind-Value="subject.Age" FloatLabelType="@FloatLabelType.Always"></SfNumericTextBox>
                    <ValidationMessage For="@(() => subject.Age)"></ValidationMessage>
                </div>
            </div>
            <div class="form-row position-relative my-2">
                <div class="col-6">
                    <SfDropDownList Enabled="@(subject.SameAsId != null? false: true)" TItem="EnumExtensions.ListItem" TValue="TimelineinfoEnums.RaceEnum?" PopupHeight="230px" Placeholder="Race" @bind-Value="@subject.Race" DataSource="@Races">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                    <ValidationMessage For="@(() => subject.Race)"></ValidationMessage>
                </div>
                <div class="col-6">
                    <SfDropDownList Enabled="@(subject.SameAsId != null? false: true)" TItem="EnumExtensions.ListItem" TValue="TimelineinfoEnums.SexEnum?" PopupHeight="230px" Placeholder="Sex" @bind-Value="@subject.Sex" DataSource="@Sexes">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                    <ValidationMessage For="@(() => subject.Sex)"></ValidationMessage>
                </div>
            </div>
            <div class="ml-3 d-inline-block" style="width:6rem;">
                <SfCheckBox CssClass="armed-checkbox" @bind-Checked="@subject.Armed" Label="Armed"></SfCheckBox>
            </div>            
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ViewSubject subject { get; set; }

    [Parameter]
    public EventCallback<int> DeleteSubject { get; set; }
    [Parameter]
    public EventCallback<SimilarPersonCallback> SuggestSubjects { get; set; }

    public IEnumerable<EnumExtensions.ListItem> Races = EnumExtensions.GetEnumDisplayNames<TimelineinfoEnums.RaceEnum>();
    public IEnumerable<EnumExtensions.ListItem> Sexes = EnumExtensions.GetEnumDisplayNames<TimelineinfoEnums.SexEnum>();
}