@page "/Account/Login"
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}
<style>
    body {
        background-color: #F5F5F5 !important;
    }

    input {
        background-color: #ffffff
    }

        input.form-control {
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 16px 18px;
            background-position: 98% 50%;
            cursor: auto;
        }
</style>
<link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/Identity/css/site.css" />
<title>Log In</title>
<div class="container">
    <div class="mx-auto col-md-6 mt-5">
        <form id="account" method="post">
            <div class="mx-auto text-center">
                <a href="/">
                    <img class="mb-4" src="/Assets/ThinBlueLie-Logo.png" alt="" width="125" height="125">
                </a>
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input placeholder="Email address" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group justify-content-center">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
            <div class="text-center">
                <div class="form-group text-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
                <p class="mt-5 mb-3 text-muted">Thin Blue Lie ©2020</p>
            </div>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
